.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.header h2 {
  margin: 0;
}
.header input[type="search"] {
  width: 400px;
}
.header button {
  margin-left: 1rem;
}
.button {
  border: 1px solid #e8e8e8;
  background-color: #fff;
  border-radius: 3px;
  height: 30px;
  padding: 0 10px;
  cursor: pointer;
}