@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  background-color: #fff;
}
body {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}
#root, .wrapper {
  height: 100%;
}
body, button, input {
  font-family: 'Open Sans', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
h1, h2, h3 {
  font-weight: 700;
  margin-top: 0;
}
a {
  text-decoration: none;
  color: #3366ff;
}
input[type="search"], input[type="text"], input[type="password"] {
  width: 100%;
  border: 1px solid #e8e8e8;
  padding: 3px 10px;
  height: 30px;
}
input[type="search"]:focus, input[type="text"]:focus, input[type="password"]:focus {
  background-color: #f9f9f9;
}